/* 初始化元素 */
body,
html {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
}

/* 相册主容器 */
.photo-album {
	display: flex;
	width: 100%;
}
/* 相册列表 */
.photo-list {
	/* 防挤压 */
	flex-shrink: 0;
	width: calc(16.6667% - 20px);
	margin-left: 20px;
}
/* 自适应 */
@media screen and (min-width: 1600px) and (max-width: 1900px) {
	.photo-list {
		width: calc(20% - 20px);
	}
}
@media screen and (min-width: 1300px) and (max-width: 1600px) {
	.photo-list {
		width: calc(25% - 20px);
	}
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
	.photo-list {
		width: calc(33.333% - 20px);
	}
}
@media screen and (max-width: 1000px) {
	.photo-list {
		width: calc(50% - 20px);
	}
}

/* 再裹上一层，防止 hover 出问题 */
.photo-container {
	position: relative;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 10px;
}
.photo-container:hover .show .hover-show {
	display: block;
}

/* 平时显示的部分 */
.show {
	position: relative;
}
.show .scenery {
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

/* hover 后显示的部分 */
.hover-show {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
}
.svg-container {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 10px;
	cursor: pointer;
}
.svg-container:hover {
	opacity: 0.9;
}
.svg {
	width: 20px;
	height: 20px;
}

/* 左下 - 作者列表 */
.author {
	z-index: 3;
	position: absolute;
	left: 40px;
	bottom: 40px;
	display: flex;
	align-items: center;
}
.author:hover .author-hover-show,
.author:hover .author-hover-arrow {
	display: block;
}
.author-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.author-name {
	margin-left: 10px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}
/* 左下 - 作者列表 - hover 出现的弹窗 */
.author-hover-arrow {
	display: none;
	position: absolute;
	bottom: 0px;
	left: -15px;
	/* 关键点：这里如果不用 border-box */
	/* 会导致宽高变为 115 * 90，需要计算 width + padding 的值 */
	/* 而加上 border-box 宽高变为 100 * 80 */
	box-sizing: border-box;
	width: 100px;
	height: 80px;
	padding-top: 10px;
	padding-left: 15px;
	z-index: 98;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}
.author-hover-show {
	display: none;
	position: absolute;
	bottom: 65px;
	left: -15px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	z-index: 99;
}
.author-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.author-info-left {
	display: flex;
	align-items: center;
}
.author-info-left:hover {
	filter: brightness(0.7);
}
.author-detail-info {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.author-detail-info span:first-child {
	font-size: 18px;
	color: #4a4a4a;
}
.author-detail-info span:last-child {
	color: #7f7f7f;
}
.author-info-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
}
.author-info-right:hover {
	color: #000;
	border-color: #7f7f7f;
}
.author-info-right .focus-on {
	margin-right: 10px;
}
.author-gallery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
}
.author-gallery img {
	width: 120px;
	height: 90px;
	margin-right: 8px;
	cursor: pointer;
}
.author-gallery img:hover {
	filter: brightness(0.7);
}
.author-gallery img:last-child {
	margin-right: 0;
}

/* 右上 - 操作按钮 */
.action-button {
	z-index: 3;
	position: absolute;
	right: 40px;
	top: 40px;
	display: flex;
}
.action-button .svg-container:first-child {
	margin-right: 10px;
}

/* 右下 - 下载按钮 */
.download {
	z-index: 3;
	position: absolute;
	right: 40px;
	bottom: 40px;
}

/* hover 后图片遮罩 */
.mask {
	position: absolute;
	z-index: 2;

	top: 0px;
	right: 0px;
	bottom: 4px;
	left: 0px;

	border-radius: 10px;
	pointer-events: none;
	opacity: 1;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.25),
		transparent 35%,
		transparent 65%,
		rgba(0, 0, 0, 0.25)
	);
}
